{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@rn": "./src/aven/infra/ReactNative",

          "@aven/browser": "./src/aven/browser",
          "@aven/cloud-auth": "./src/aven/cloud-auth",
          "@aven/cloud-auth-sms": "./src/aven/cloud-auth-sms",
          "@aven/cloud-auth-email": "./src/aven/cloud-auth-email",
          "@aven/cloud-auth-message": "./src/aven/cloud-auth-message",
          "@aven/cloud-auth-root": "./src/aven/cloud-auth-root",
          "@aven/cloud-browser": "./src/aven/cloud-browser",
          "@aven/cloud-core": "./src/aven/cloud-core",
          "@aven/cloud-fs": "./src/aven/cloud-fs",
          "@aven/cloud-native": "./src/aven/cloud-native",
          "@aven/cloud-network": "./src/aven/cloud-network",
          "@aven/cloud-postgres": "./src/aven/cloud-postgres",
          "@aven/cloud-react": "./src/aven/cloud-react",
          "@aven/cloud-schema": "./src/aven/cloud-schema",
          "@aven/cloud-server": "./src/aven/cloud-server",
          "@aven/cloud-utils": "./src/aven/cloud-utils",
          "@aven/email-agent-sendgrid": "./src/aven/email-agent-sendgrid",
          "@aven/file-upload": "./src/aven/file-upload",
          "@aven/logger": "./src/aven/logger",
          "@aven/navigation-core": "./src/aven/navigation-core",
          "@aven/navigation-fade-navigator": "./src/aven/navigation-fade-navigator",
          "@aven/navigation-hooks": "./src/aven/navigation-hooks",
          "@aven/navigation-native": "./src/aven/navigation-native",
          "@aven/navigation-stack": "./src/aven/navigation-stack",
          "@aven/navigation-transitioner": "./src/aven/navigation-transitioner",
          "@aven/navigation-web": "./src/aven/navigation-web",
          "@aven/navigation-web-browser": "./src/aven/navigation-web-browser",
          "@aven/navigation-web-server": "./src/aven/navigation-web-server",
          "@aven/plane": "./src/aven/plane",
          "@aven/react-utils": "./src/aven/react-utils",
          "@aven/sms-agent-twilio": "./src/aven/sms-agent-twilio",
          "@aven/utils": "./src/aven/utils",
          "@aven/views": "./src/aven/views",
          "@aven/web-browser": "./src/aven/web-browser",
          "@aven/web-server": "./src/aven/web-server"
        }
      }
    ]
  ],
  "env": {
    "web-development": {
      "plugins": [
        [
          "file-loader",
          {
            "name": "[hash].[ext]",
            "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
            "publicPath": "/public1",
            "outputPath": "/public2",
            "context": "/src",
            "limit": 0
          }
        ],
        [
          "module-resolver",
          {
            "extensions": [".web.js", ".js", ".json"],
            "alias": {
              "@rn": "react-native-web",

              "@aven/browser": "./src/aven/browser",
              "@aven/cloud-auth": "./src/aven/cloud-auth",
              "@aven/cloud-auth-sms": "./src/aven/cloud-auth-sms",
              "@aven/cloud-auth-email": "./src/aven/cloud-auth-email",
              "@aven/cloud-auth-message": "./src/aven/cloud-auth-message",
              "@aven/cloud-auth-root": "./src/aven/cloud-auth-root",
              "@aven/cloud-browser": "./src/aven/cloud-browser",
              "@aven/cloud-core": "./src/aven/cloud-core",
              "@aven/cloud-fs": "./src/aven/cloud-fs",
              "@aven/cloud-native": "./src/aven/cloud-native",
              "@aven/cloud-network": "./src/aven/cloud-network",
              "@aven/cloud-postgres": "./src/aven/cloud-postgres",
              "@aven/cloud-react": "./src/aven/cloud-react",
              "@aven/cloud-schema": "./src/aven/cloud-schema",
              "@aven/cloud-server": "./src/aven/cloud-server",
              "@aven/cloud-utils": "./src/aven/cloud-utils",
              "@aven/email-agent-sendgrid": "./src/aven/email-agent-sendgrid",
              "@aven/file-upload": "./src/aven/file-upload",
              "@aven/logger": "./src/aven/logger",
              "@aven/navigation-core": "./src/aven/navigation-core",
              "@aven/navigation-fade-navigator": "./src/aven/navigation-fade-navigator",
              "@aven/navigation-hooks": "./src/aven/navigation-hooks",
              "@aven/navigation-native": "./src/aven/navigation-native",
              "@aven/navigation-stack": "./src/aven/navigation-stack",
              "@aven/navigation-transitioner": "./src/aven/navigation-transitioner",
              "@aven/navigation-web": "./src/aven/navigation-web",
              "@aven/navigation-web-browser": "./src/aven/navigation-web-browser",
              "@aven/navigation-web-server": "./src/aven/navigation-web-server",
              "@aven/plane": "./src/aven/plane",
              "@aven/react-utils": "./src/aven/react-utils",
              "@aven/sms-agent-twilio": "./src/aven/sms-agent-twilio",
              "@aven/utils": "./src/aven/utils",
              "@aven/views": "./src/aven/views",
              "@aven/web-browser": "./src/aven/web-browser",
              "@aven/web-server": "./src/aven/web-server"
            }
          }
        ]
      ]
    },
    "web-production": {
      "plugins": [
        [
          "file-loader",
          {
            "name": "[hash].[ext]",
            "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
            "publicPath": "/public1",
            "outputPath": "/public2",
            "context": "/src",
            "limit": 0
          }
        ],
        [
          "module-resolver",
          {
            "extensions": [".web.js", ".js", ".json"],
            "alias": {
              "@rn": "react-native-web",

              "@aven/browser": "./src/aven/browser",
              "@aven/cloud-auth": "./src/aven/cloud-auth",
              "@aven/cloud-auth-sms": "./src/aven/cloud-auth-sms",
              "@aven/cloud-auth-email": "./src/aven/cloud-auth-email",
              "@aven/cloud-auth-message": "./src/aven/cloud-auth-message",
              "@aven/cloud-auth-root": "./src/aven/cloud-auth-root",
              "@aven/cloud-browser": "./src/aven/cloud-browser",
              "@aven/cloud-core": "./src/aven/cloud-core",
              "@aven/cloud-fs": "./src/aven/cloud-fs",
              "@aven/cloud-native": "./src/aven/cloud-native",
              "@aven/cloud-network": "./src/aven/cloud-network",
              "@aven/cloud-postgres": "./src/aven/cloud-postgres",
              "@aven/cloud-react": "./src/aven/cloud-react",
              "@aven/cloud-schema": "./src/aven/cloud-schema",
              "@aven/cloud-server": "./src/aven/cloud-server",
              "@aven/cloud-utils": "./src/aven/cloud-utils",
              "@aven/email-agent-sendgrid": "./src/aven/email-agent-sendgrid",
              "@aven/file-upload": "./src/aven/file-upload",
              "@aven/logger": "./src/aven/logger",
              "@aven/navigation-core": "./src/aven/navigation-core",
              "@aven/navigation-fade-navigator": "./src/aven/navigation-fade-navigator",
              "@aven/navigation-hooks": "./src/aven/navigation-hooks",
              "@aven/navigation-native": "./src/aven/navigation-native",
              "@aven/navigation-stack": "./src/aven/navigation-stack",
              "@aven/navigation-transitioner": "./src/aven/navigation-transitioner",
              "@aven/navigation-web": "./src/aven/navigation-web",
              "@aven/navigation-web-browser": "./src/aven/navigation-web-browser",
              "@aven/navigation-web-server": "./src/aven/navigation-web-server",
              "@aven/plane": "./src/aven/plane",
              "@aven/react-utils": "./src/aven/react-utils",
              "@aven/sms-agent-twilio": "./src/aven/sms-agent-twilio",
              "@aven/utils": "./src/aven/utils",
              "@aven/views": "./src/aven/views",
              "@aven/web-browser": "./src/aven/web-browser",
              "@aven/web-server": "./src/aven/web-server"
            }
          }
        ]
      ]
    }
  }
}
