{
  "extends": "eslint-config-satya164",

  "plugins": ["react-native-globals"],

  "env": {
    "es6": true,
    "react-native-globals/all": true
  },

  "rules": {
    "import/no-unresolved": "off",
    "import/no-commonjs": "off",
    "react/no-unescaped-entities": "off",
    "flowtype/no-types-missing-file-annotation": "off",
    "jest/require-tothrow-message": "off",
    "react-native/no-inline-styles": "off",
    "no-unused-vars": "off",
    "import/named": "off",
    "react/sort-comp": "off",
    "react/jsx-key": "warn",
    "jest/no-disabled-tests": "off",
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "import/no-extraneous-dependencies": "off"
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
