{
  "extends": "eslint-config-satya164",

  "plugins": ["react-native-globals"],

  "env": {
    "es6": true,
    "react-native-globals/all": true
  },

  "rules": {
    "import/no-unresolved": "off",
    "import/no-commonjs": "off",
    "no-unused-vars": "off",
    "import/named": "off",
    "react/sort-comp": "off",
    "react/jsx-key": "warn",
    "jest/no-disabled-tests": "off"
  }
}
